body {    
    font-family:'Segoe UI';
}

#content > table{
    border-collapse:collapse;
}
    #content > table td {
        border:groove;
    }

#content,
#marks {
    float:left;
}

.selected {
    /*font-style:oblique;*/
    background-color:green;
}