html, body, p, div, ul, stong {
    padding:0;
    margin:0;
    zoom:1;
}

html {
    font-family:'Adobe Gothic Std','Segoe UI';
}

    div.student-element {
        border:1px solid skyblue;
    }
    
#content,
#marks {
    width:60%;
    margin:0 auto;    
}

ul {
    list-style-type:none;
}

li {
    padding:5px 10px;
}

#content {
    margin-top:50px;
}

#marks {
    text-align:center;
    font-family:'Adobe Arabic',Consolas,'Giddyup Std';
    font-size:2.6em;
}

.hidden {
    display:none;
}

#back-to-students {
    padding:5px 10px;
    font-size:1.2em;
}